TurboCommons-Php/.ant/BuildSetupSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

	<!-- DEFINITION FOR THE ROOT SETUP ELEMENT -->
	<xs:element name="SetupBuild">
		
		<xs:annotation>
			<xs:documentation>Contains all the parameters that are used with the build process of the current project</xs:documentation>
		</xs:annotation>
		
		<xs:complexType>		
		
			<xs:sequence>		
		
				<!-- The Build setup part -->
				<xs:element name="Build" minOccurs="1" maxOccurs="1">
		
					<xs:annotation>
						<xs:documentation>General options related to the project build process</xs:documentation>
					</xs:annotation>
					
					<xs:complexType>
					
						<xs:attribute name="versionNumber" use="required" type="xs:string">
							<xs:annotation>
								<xs:documentation>Specify the project version number. Unlike the build number that is incremented every time a build is performed, this value is not automatically updated and needs to be changed manually. So you should specify here the major version like 1.0, 2.0, 3.2... &lt;br&gt;&lt;br&gt;
									Do not specify build number here, as it will be automatically added if necessary when generating the release version files</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="createPhars" default="true" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Specifies if the files generated on the target folder by the build process must be packed on a phar file or not.</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="createMergedJs" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Generate a .js file on the target folder containing all the project javascript files merged so it can be easily included on other projects.</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="keepUnPackedFiles" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>If set to false, all the files that are copied to the target/ProjectName/ folder will be removed. Otherwise they will be kept on the folder.</xs:documentation>
							</xs:annotation>
						</xs:attribute>						
						
					</xs:complexType>
					
				</xs:element>
				
				
				<!-- The Analyse setup part -->
				<xs:element name="Release" minOccurs="1" maxOccurs="1">
		
					<xs:annotation>
						<xs:documentation>Parameters related to project automated testing</xs:documentation>
					</xs:annotation>
					
					<xs:complexType>
					
						<xs:attribute name="enable" use="required" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Enable or disable creating the fully optimized production ready project version. Build process will perform optimizations like source minification and obfuscation, images optimization, etc.. and the build result will be placed under target/ProjectName-buildnumber/</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="phpDoc" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Enable or disable the automatic documentation generation for the Php code to the 'target/projectName-version/doc/php' folder</xs:documentation>
							</xs:annotation>
						</xs:attribute>		
						
						<xs:attribute name="jsDoc" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Enable or disable the automatic documentation generation for the JS code to the 'target/projectName-version/doc/js' folder</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="changeLog" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Enable or disable the automatic changelog generation to the 'target/projectName-version/changelog' folder</xs:documentation>
							</xs:annotation>
						</xs:attribute>		
						
						<xs:attribute name="optimizePictures" default="true" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Set if project pictures must be optimized as part of the release version build process</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="optimizePhp" default="true" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Set if php files must be optimized as part of the release version build process</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="optimizeHtml" default="true" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Set if php and html files must have its html tags and code optimized as part of the release version build process</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="optimizeJs" default="true" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Set if js files must be optimized as part of the release version build process</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="optimizeCss" default="true" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Set if css files must be optimized as part of the release version build process</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="useForDeploy" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>If enabled, the release optimized version will be used when performing a deploy of the project (to localhost, remote ftp, ...)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
					</xs:complexType>
					
				</xs:element>
				
				
				<!-- The Analyse setup part -->
				<xs:element name="Analyse" minOccurs="0" maxOccurs="1">
		
					<xs:annotation>
						<xs:documentation>Parameters related to project automated testing</xs:documentation>
					</xs:annotation>
					
					<xs:complexType>
					
						<xs:attribute name="checkProjectStructure" default="true" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Validate that current project folders and files meet the framework specifications</xs:documentation>
							</xs:annotation>
						</xs:attribute>		
						
					</xs:complexType>
					
				</xs:element>
				
				
				<!-- The Tests setup part -->
				<xs:element name="Test" minOccurs="0" maxOccurs="1">
		
					<xs:annotation>
						<xs:documentation>Parameters related to project automated testing</xs:documentation>
					</xs:annotation>
					
					<xs:complexType>
					
						<xs:attribute name="runTests" use="required" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Specifies if unit tests located on the src/test folder must be executed as part of the build process or not.</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="localHostTestPath" use="required" type="xs:string">
							<xs:annotation>
								<xs:documentation>Specifies the path where the localhost server http root folder is located, or a subfolder of it where the unit tests will be copied. The unit tests require a local server to run, and will be copied to the specified path under a folder named ProjectName-unitTests</xs:documentation>
							</xs:annotation>
						</xs:attribute>		
						
					</xs:complexType>
					
				</xs:element>
				
				
				<!-- The Deploy setup part -->
				<xs:element name="Deploy" minOccurs="0" maxOccurs="1">
		
					<xs:annotation>
						<xs:documentation>Parameters related to deploying the built project files to other locations, like localhost or remote ftp folders</xs:documentation>
					</xs:annotation>
					
					<xs:complexType>
					
						<xs:attribute name="localHostDeploy" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Enable or disable local host deployment. To deploy the project to localhost, a webserver must be setup on this computer and a webapps or similar folder must be available to copy the built files</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="localHostPath" default="C:\xampp\htdocs\" type="xs:string">
							<xs:annotation>
								<xs:documentation>The path to the localhost webapps, htdocs or similar folder for the local webserver where the project built files will be copied</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="localHostIgnore" default="" type="xs:string">
							<xs:annotation>
								<xs:documentation>An expression that will be used to ignore folders or files when copying built files. The matching paths will be ignored on both parts: The source built files and the destination folder, even when doing a project clean</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="ftpDeploy" default="false" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Enable or disable remote ftp host deployment. An ftp server must be available and accessible to copy the built files</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="ftpFolder" default="/" type="xs:string">
							<xs:annotation>
								<xs:documentation>A path inside the remote ftp location where the built files will be copied</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="ftpIgnore" default="" type="xs:string">
							<xs:annotation>
								<xs:documentation>An expression that will be used to ignore folders or files when copying built files. The matching paths will be ignored on both parts: The source built files and the destination ftp folder, even when doing a project clean</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="ftpServer" default="" type="xs:string">
							<xs:annotation>
								<xs:documentation>The remote host or ip where the ftp server is located</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="ftpUser" default="" type="xs:string">
							<xs:annotation>
								<xs:documentation>The user name that will be used to login to the remote ftp server</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="ftpPsw" default="" type="xs:string">
							<xs:annotation>
								<xs:documentation>The user password that will be used to login to the remote ftp server</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
					</xs:complexType>
					
				</xs:element>

				
				<!-- The Database setup part -->
				<xs:element name="DataBase" minOccurs="0" maxOccurs="1">
		
					<xs:annotation>
						<xs:documentation>Parameters related to database automation when doing a build</xs:documentation>
					</xs:annotation>
					
					<xs:complexType>
						
						
									
					</xs:complexType>
					
				</xs:element>				
				
				
				<!-- Tools setup part -->
				<xs:element name="Tools" minOccurs="0" maxOccurs="1">
		
					<xs:annotation>
						<xs:documentation>Paths to the executables and applications that are required to perform some of the build actions</xs:documentation>
					</xs:annotation>
					
					<xs:complexType>
					
						<xs:attribute name="minifierPath" default="C:/BuildTools/yuicompressor-2.4.7/build/yuicompressor-2.4.7.jar" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the minifier tool is located on this computer. It will take care of compressing js and css files when createReleaseVersion is true</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="htmlCompressorPath" default="C:/BuildTools/htmlcompressor/htmlcompressor-1.5.3.jar" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the html compressor tool is located on this computer. It will take care of compressing php and html files when createReleaseVersion is true</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="pngQuantPath" default="C:/BuildTools/pngquant-windows/pngquant.exe" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the pngquant tool is located on this computer. It will take care of compressing png files when createReleaseVersion is true</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="pngOptimizerPath" default="C:/BuildTools/optipng-0.7.4-win32/optipng.exe" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the optipng tool is located on this computer. It will take care of compressing png files when createReleaseVersion is true</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="jpgOptimizerPath" default="C:/BuildTools/jpegtran/jpegtran.exe" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the jpegtran tool is located on this computer. It will take care of compressing jpg files when createReleaseVersion is true</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						
						<xs:attribute name="mysqlPath" default="C:/xampp/mysql/bin/mysql.exe" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the mysql.exe tool is located on this computer. It is used to automate database operations like create and delete</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="phpDocPath" default="C:/BuildTools/PhpDocumentor/phpDocumentor.phar" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the phpdoc library 'phpDocumentor.phar' file is located</xs:documentation>
							</xs:annotation>
						</xs:attribute>	
						
						<xs:attribute name="phpPath" default="C:/xampp/php/php.exe" type="xs:string">
							<xs:annotation>
								<xs:documentation>Path where the php.exe tool is located on this computer. It is used to compress php files, generate phar files and other operations</xs:documentation>
							</xs:annotation>
						</xs:attribute>			
												
					</xs:complexType>
					
				</xs:element>				
				
			</xs:sequence>
		
		</xs:complexType>
		
	</xs:element>

</xs:schema>